  <nav>

    <a href="/about/" title="{{ i18n "nav-title-about" }}">
      <svg class="icon icon-info-circle">
        <use xlink:href="/static/img/symbol-defs.svg#icon-info-circle"></use>
      </svg>
      <span>{{ i18n "nav-link-about" }}</span>
    </a>

    <a href="/blog/" title="{{ i18n "nav-title-blog" }}">
      <svg class="icon icon-paragraph-justify">
        <use xlink:href="/static/img/symbol-defs.svg#icon-paragraph-justify"></use>
      </svg>
      <span>{{ i18n "nav-link-blog" }}</span>
    </a>

    <a href="https://twitter.com/SilvioSiefke" title="{{ i18n "nav-title-twitter" }}">
      <svg class="icon icon-twitter">
        <use xlink:href="/static/img/symbol-defs.svg#icon-twitter"></use>
      </svg>
      <span> Twitter</span>
    </a>

    <a href="https://github.com/sisihagen" title="{{ i18n "nav-title-github" }}">
      <svg class="icon icon-github">
        <use xlink:href="/static/img/symbol-defs.svg#icon-github"></use>
      </svg>
      <span>Github</span>
    </a>
  </nav>
