.article-header {
  @include rwd('regular') {
    text-align: center;
  }

  h1 {
    @include rwd('compact') {
      font-size: 1.1rem;
    }
  }
}

article.blog-card {
  background: $color-white;
  position: relative;
  padding: 0;
  margin: 0 1rem;
  border-radius: 2%;

  a {
    color: $color-gray;
    text-decoration: none;
  }

  @include rwd('compact') {
    margin-bottom: 1rem !important;
  }

  [class*="icon"] {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  .card-header {
    position: relative;
    color: $color-white;

    h4 {
      position: absolute;
      background: $color-blue;
      width: 100%;
      bottom: -1.5rem;
    }
  }

  .card-footer {
    position: absolute;
    bottom: .1rem;

    .icon-clock2 {
      width: 0.7rem;
      height: 0.7rem;
      display: inline;
      fill: $color-gray;
    }
  }

  &:hover {
    opacity: 0.5;
  }
}
