aside.post {

  .linklist {
    a {
      display: block;
      color: lighten($color-blue, 40%);
      margin-top: 0.5rem;

      &:hover {
        transition: color 500ms linear 100ms;
        color: lighten($color-blue, 80%);
        text-decoration: underline;
      }
    }
  }

  .gallery {
    img {
      margin-top: 0.5rem;
    }
  }
}
