header.main {
  max-width: 100%;

  img {
    width: 115px;
    height: 110px;
    padding: 1rem 3rem;

      @include rwd('compact') {
        display: block;
        margin: 0 auto;
        padding: 1rem 0;
      }
  }
}
