nav {
  @include rwd('compact') {
    text-align: center;
    padding: 2rem 0;

    a {
      padding-right: 1rem;
      text-decoration: none;

      &:last-child {
        padding-right: 0;
      }

      &:hover {
        color: lighten($color-blue, 40%);
      }
    }
  }

  @include rwd('regular') {
    position: absolute;
    top: 3rem;
    right: 3rem;

    a {
      font-size: 1.4rem;
      text-decoration: none;
      padding-left: 2rem;

      &:first-child {
        padding-left: 0;
      }

      &:hover {
        color: lighten($color-blue, 40%);
      }
    }
  }

  .icon-info-circle,
  .icon-paragraph-justify,
  .icon-twitter,
  .icon-github {
    &:hover {
      fill: lighten($color-blue, 40%);
    }
  }
}

.menu-active span {
  color: lighten($color-blue, 30%);
  text-decoration: underline;
}

.menu-active .icon {
  stroke: lighten($color-blue, 30%);
  fill: lighten($color-blue, 30%);
}
