.blog__header {
  position: relative;
  color: lighten($color-light-gray, 50%);

  .icon {
    padding-top: .5rem;
    stroke: lighten($color-light-gray, 50%);
    fill: lighten($color-light-gray, 50%);
  }

  img {
    background-size: cover;
    background-position: 50%;
    width: 100%;
    max-height: 500px;
  }

  time, span {
    font-size: 0.8rem;
    display: block;

      @include breakpoint('m') {
        display: inline;
      }
  }

  span {
    &:last-child {
      text-transform: lowercase;
    }
  }

  h1 {
    line-height: 2rem;
  }
}

.cover {
  img {
    background-size: cover;
    background-position: 50%;
    width: 100%;
    max-height: 500px;
  }
}
