.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
    padding: 1.5%;
    box-sizing: border-box;

    .card {
        position: relative;
        margin: 0.5em;
        padding-bottom: 1.5em;
        background: #fefff9;
        color: $color-black;
        border-radius: 4px;
        width: 100%;

        @include rwd('regular') {
            max-width: calc(50% - 3em);
        }


        &:nth-child(even) {
            @include rwd('regular') {
                margin-right: 0;
            }
        }

        a {
            text-decoration: none;
            color: $color-black;
        }

        span {
            display: block;
        }

        .card-summary {
            padding: 5% 5% 3% 5%;
        }

        .card-header {
            position: relative;
            height: 175px;
            overflow: hidden;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-color: rgba(255, 255, 255, 0.15);
            background-blend-mode: overlay;
            border-radius: 4px 4px 0 0;

            &:hover {
                background-color: rgba(255, 255, 255, 0);
            }

            &:focus {
                background-color: rgba(255, 255, 255, 0);
            }
        }

        .card-title {
            background: rgba(0, 109, 166, 1);
            padding: 3.5% 0 2.5% 0;
            color: white;
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        .card-title h3 {
            font-size: 1.2em;
            line-height: 1.2;
            padding: 0 3.5%;
            margin: 0;

            &:hover,
            &:focus {
                background: rgba(0, 109, 166, 1);
            }
        }

        .card-meta {
            overflow: hidden;
            color: #666;
            font-size: 0.78em;
            text-transform: uppercase;
            position: absolute;
            bottom: 5%;
            padding: 0 5%;
            transition-property: max-height;
            transition-duration: 0.4s;
            transition-timing-function: ease-in-out;
        }

        &:hover,
        &:focus {
            background: $color-white;
            box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
        }
    }
}
