#cookiedingsbums {
  outline: none;
  text-align: center;
  border-top: thin solid $color-silver;
  background: $color-black;
  position: fixed;
  bottom: 0;
  z-index: 100000;
  width: 100%;
  line-height: 1.4rem;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: $color-red;
    }
  }

  div {
    padding: 1rem;
    padding-right: 3rem;
  }

  #cookiedingsbumsCloser {
    color: $color-silver;
    position: absolute;
    right: 0.5rem;
    text-decoration: none;
    top: 1rem;
    cursor: pointer;

    &:hover {
      color: white;
    }
  }
}
