.pagination {
  padding-top: 1rem;
  text-align: center;

  @include rwd('regular') {
      margin: 0 1em;
  }

  a {
    color: $color-light-gray;
    padding-right: 1em;
    text-decoration: none;
    font-family: "hack";
    color: lighten($color-blue, 40%);
    border: thin solid lighten($color-blue, 40%);

    &:hover {
      color: darken($color-white, 10%);
      transition: background-color 500ms linear 100ms;
      background-color: darken($color-blue, 40%);
    }
  }

  .pagination__current {
    color: darken($color-white, 20%);
    transition: background-color 500ms linear 100ms;
    background-color: darken($color-blue, 40%);
  }
}
