.brands {

  a {
    margin-bottom: 1rem;

    @include rwd('regular') {
      margin-left: 1rem;
    }

    picture {
      img {
        width: 135px;
        height: auto;

        @include rwd('compact') {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
