*, *::before, *::after {
  box-sizing: inherit;
}

*, html {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  color: $color-light-gray;
  background-color: $color-dark-gray;
  position: relative;
}

img {
  box-sizing: content-box;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.nostyle {
  color: inherit;
  text-decoration: none;
}
